body {
    margin: 0;
    padding: 0;
}

.main-banner {
    display: flex;
    background: #ff655029;
    padding: 24px 135px 0px 135px;
}

.banner-picture img {
    width: 515px;
    height: 600px;
}

.banner-text {
    padding-top: 72px;
    margin-right: 43px;
}

.banner-text h1 {
    font-size: 65px;
    color: #272727;
}

.banner-text p {
    width: 552px;
    font-size: 18px;
    color: #585757;
}

button.prymari-button {
    border-radius: 8px;
    background: #E55473;
    padding: 9px 15px;
    color: white;
    border: 0px;
    font-weight: 700;
    margin-top: 10px;
}

/* featured-flowers */

.featured-flowers-text {
    text-align: center;
    padding-top: 115px;
}

.featured-flowers-text h1 {
    font-size: 43px;
    color: #272727;
}

.featured-flowers-pic {
    display: flex;
    justify-content: center;
}

.single-flowers {
    background: #A7216226;
    padding: 30px 20px 0px 20px;
    border-radius: 400px 400px 0px 0px;
    margin: 23px 13px 0px 13px;
}

.single-flowers img {
    height: 327px;
}

#flower-2 {
    background: #0597A026;

}

#flower-3 {
    background: #477D1126;
}