body {
    margin: 0;
    padding: 0;
}

.main-banner {
    display: flex;
    background: #FCEEF1;
    padding: 24px 135px 0px 135px;
}

.banner-picture img {
    width: 515px;
    height: 600px;
}

.banner-text {
    padding-top: 72px;
    margin-right: 43px;
}

.banner-text h1 {
    font-size: 65px;
    color: #272727;
}

.banner-text p {
    width: 552px;
    font-size: 18px;
    color: #585757;
}

.banner-picture {
    margin-bottom: -4px;
}

button.prymari-button {
    border-radius: 8px;
    background: #E55473;
    padding: 9px 15px;
    color: white;
    border: 0px;
    font-weight: 700;
    margin-top: 10px;
}

/* featured-flowers */

.featured-flowers-text {
    text-align: center;
    padding-top: 115px;
}

.featured-flowers-text h1 {
    font-size: 43px;
    color: #272727;
}

.featured-flowers-pic {
    display: flex;
    justify-content: center;
}

.single-flowers {
    background: #A7216226;
    padding: 30px 20px 0px 20px;
    border-radius: 400px 400px 0px 0px;
    margin: 23px 13px 0px 13px;
}
img#pink-pic {
    height: 331px;
    margin-bottom: -3px;
}
.single-flowers img {
    height: 327px;
}

#flower-2 {
    background: #0597A026;

}

div#flower-2 img {
    width: 226px;
}

#flower-3 {
    background: #477D1126;
}

a.flower-name {
    position: absolute;
    color: black;
    margin: 355px 0px 0px -170px;
}

/* hot deal */
.hot-deal-part {
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
    background: #FEF6F8;
    padding: 50px 0px;
}

.hot-deal-text {
    width: 372px;
    color: #272727;
    text-align: center;
    padding-top: 97px;
}

.hot-deal-style {
    color: red;
}

.hot-deal-text h1 {
    font-size: 28px;
}

.hot-deal-text p {
    color: gray;
}

.hot-deal-pic img {
    width: 297px;
}

.instagram {
    text-align: center;
    padding-top: 115px;
}

.instagram h1 {
    font-size: 43px;
    color: #272727;
}

.flowers-pic {
    display: flex;
    margin-left: 161px;
}

.single-flower img {
    width: 245px;
    height: 277px;
    margin: 50px 22px 50px 0px;
}

.instagram p {
    color: gray;
}

.latest-deals img {
    width: 1046px;
    margin-left: 162px;
    margin-top: 34px;
}

.latest-text {
    position: absolute;
    text-align: center;
    margin: 140px 0px 0px 385px;
}

.latest-text input {
    padding: 8px 310px 8px 13px;
}

.latest-text h1 {
    font-size: 33px;
    font-weight: 800;
    color: #272727;
}


/* footer */
.foooter-site {
    background: #111010;
    text-align: center;
    padding: 60px 425px 60px 425px;
    margin-top: 81px;
}

.shop-style {
    color: #E55473;
}

.foooter-site p {
    color: #E7E7E7;
}

.foooter-site h1 {
    font-size: 41px;
    color: white;
}

p.footer-end {
    color: gray;
}

/* bonas part */
.shop-Now {
    display: flex;
    justify-content: space-evenly;
}

span.shop {
    color: #E55473;
}

.shop-Now-pic img {
    width: 169px;
}

.shop-Now-pic i {
    color: #ff0023ba;
}

img#shop-1 {
    height: 236px;
}

img#shop-3 {
    height: 236px;
}

.shop-now-tytle {
    text-align: center;
    padding-bottom: 55px;
    padding-top: 32px;
}

.shop-now-tytle h1 {
    font-size: 42px;
}

i#arrow {
    color: white;
    padding-left: 4px;
}

.order-now {
    margin-left: 30px;
}